@import "./partials/bootstrap-overrides";
@import "./partials/general";

#container {
  display: flex;
  overflow-x: hidden;

  header,
  aside {
    flex: 0 0 auto;
  }

  header {
    min-width: 300px;
  }

  aside {
    min-width: 250px;
  }

  main {
    flex-grow: 1;
    overflow-x: hidden;
  }
}
